{% extends 'base.html' %}
{% block content %}

{% if not request.user.is_authenticated %}
<div class="container">
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        {% if error %}
        <p style="color:red;">{{error}}</p>
        {% endif %}
        <div>
            <input type="text" placeholder="username" name="username" required />
        </div>
        <br />
        <div>
            <input type="password" placeholder="password" name="password" required />
        </div>
        <br />
        <button type="submit">Login</button>
    </form>
    {% else %}
   <p>Already logged in, Logout? <a href="/logout/">Logout</a></p>
</div> 
{% endif %}
{% endblock %}
